.profile {
  color: var(--w1);
  font-family: var(--font1);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  max-width: 90ch;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.description {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
  align-items: center;
}

.description::before {
  display: flex;
  align-self: center;
  justify-self: center;
  content: "";
  background: url("../../Assets/img/profile.jpeg") center center no-repeat;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 0.25rem solid var(--p3);
}

.subTitle {
  font: 500 1.5rem/1 var(--font1);
  color: var(--p3);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

q {
  font-style: italic;
  font-size: 1.125rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0 1.5rem 0;
  gap: 0.5rem 1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1;
}

.info::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--p4);
  border-radius: 50%;
}

.info > span {
  font: 700 1rem/1 var(--font1);
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: var(--p4);
}

.more {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.25rem;
}

.more + p {
  color: var(--w2);
  max-width: 80ch;
}

strong {
  color: var(--strong);
}


@media (max-width: 64rem) {
  .description {
    grid-template-columns: 1fr;
  }

  .description::before {
    width: 20rem;
    height: 20rem;
  }

  .more + p {
    max-width: 100%;
  }
}

@media (max-width: 48rem) {
  .summary {
    font-size: 1.125rem;
  }

  .description::before {
    width: 15rem;
    height: 15rem;
  }

  .subTitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 28rem) {
  .list {
    display: flex;
    flex-direction: column;
  }
}
