.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  box-sizing: initial;
  background: linear-gradient(270deg, var(--p1), var(--p2));
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navigation:hover {
  width: 14rem;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(50vh - 12rem) 0 0 0.5rem;
}

.link {
  position: relative;
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.link.active {
  background: var(--b1);
}

.link > a {
  position: relative;
  display: block;
  align-items: center;
  display: flex;
  height: 4rem;
  width: 100%;
  text-decoration: none;
  color: var(--w2);
  transition: all 0.25s ease;
}

.link > a:hover {
  color: var(--strong);
}

.link:hover .svg > * {
  fill: var(--strong);
  transition: all 0.25s ease;
}

.link.active > a {
  color: var(--strong);
}

.link.active .svg > * {
  fill: var(--strong);
}

.link > b:nth-child(1),
.link > b:nth-child(2) {
  position: absolute;
  height: 1.25rem;
  width: 100%;
  background: var(--b1);
  display: none;
}

.link > b:nth-child(1) {
  top: -20px;
}

.link > b:nth-child(2) {
  bottom: -20px;
}

.link > b:nth-child(1)::before,
.link > b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, var(--p1), var(--p2));
}

.link > b:nth-child(1)::before {
  border-bottom-right-radius: 1.25rem;
}

.link > b:nth-child(2)::before {
  border-top-right-radius: 1.25rem;
}

.link.active b:nth-child(1),
.link.active b:nth-child(2) {
  display: block;
}

.icon {
  position: relative;
  display: block;
  min-width: 4rem;
  text-align: center;
}

.svg {
  width: 2rem;
}

.page {
  position: relative;
  display: block;
  padding-left: 0.75rem;
  font: 500 1rem/1 Roboto, Helvetica, Arial, sans-serif;
}

/* 768px */
@media (max-width: 48rem) {
  .navigation,
  .navigation:hover {
    position: fixed;
    top: initial;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: calc(100vw - 5px);
    background: linear-gradient(180deg, var(--p1), var(--p2));
  }

  .list {
    position: static;
    display: flex;
    padding: 0;
  }

  .link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .link.active {
    background: none;
  }
  
  .link.active .svg > * {
    fill: var(--w2);
  }

  .link.active b:nth-child(1),
  .link > b:nth-child(1)::before,
  .link.active b:nth-child(2),
  .link > b:nth-child(2)::before {
    display: none;
  }

  .link > a {
    justify-content: center;
  }

  .page {
    display: none;
  }
}

/* 448px */
@media (max-width: 28rem) {
  .list > .link:nth-child(1),
  .list > .link:nth-child(3) {
    display: none;
  }
}
